@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
  font-family: 'Mulish', sans-serif;
  background-image: url('./assets/icons/Rectangle\ 2.svg');
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

*{
  margin: 0;
  padding: 0;
}

:root{
  --colorPrimary: #6200EE;
  --colorSecondary: #9654F4;

  /* background */
  /* --backgroundPrimary: #0061df; */

  /* Padding */

  --padding: 0 130px;
  --width: 1440px;
}

.text-social{
  color: var(--foundation-grey-grey-900, #151515);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text-big{
  color: var(--foundation-white-white-50, #FEFEFE);
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-big-color{
  color: var(--foundation-purple-purple-500, #6200EE);
  margin-left: 10px
}
.text-small{
  color: var(--foundation-white-white-50, #FEFEFE);
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 13px;
}
.text-card{
  color: var(--foundation-grey-grey-500, #333);
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}
.modal-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}

.or{
  color: var(--black, #24272C);
text-align: center;
font-family: Mulish;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.icon{
  display: none;
}

.card:hover .icon{
  display: flex;
}